<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.shopping.mapper.ex.QsnEXMapper">

    <resultMap id="abn2" type="com.lut.shopping.bean.Ex.QuestionEX">
        <association property="shop" column="shop_id" select="findByShop"></association>
    </resultMap>

    <select id="findAll" resultType="com.lut.shopping.bean.Appraise">
        select * from shop_appraise where question_id=#{id}
    </select>

    <select id="findBy" resultMap="abn2">
        select * from shop_question where id=#{id}
    </select>

    <select id="findByShop" resultType="com.lut.shopping.bean.Shop">
        select * from shop_shop where id=#{id}
    </select>

    <select id="findByShopid" resultType="com.lut.shopping.bean.Shop">
        select * from shop_shop where id=#{id}
    </select>

</mapper>