<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.shopping.mapper.Ex.CommodityExMapper">
    <resultMap id="selectco" type="com.lut.shopping.bean.Ex.CommodityEx">
        <id column="coid"  property="id" />
        <result column="coname"  property="name" />
        <result column="cotype"  property="type" />
        <result column="coprice"  property="price" />
        <result column="shname" property="shname"></result>
    </resultMap>
    <resultMap id="coshow" type="com.lut.shopping.bean.Ex.CommodityshowEx">
        <id column="coid"  property="id" />
        <result column="coname"  property="name" />
        <result column="cotype"  property="type" />
        <result column="coprice"  property="price" />
        <result column="conumber" property="number" />
        <result column="shname" property="shname"></result>
    </resultMap>

    <resultMap id="selectnam" type="com.lut.shopping.bean.Commodity">
        <id column="id" property="id" />
        <result column="price" property="price" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="discount" property="discount" />
        <result column="number" property="number" />
    </resultMap>

    <resultMap id="sl" type="com.lut.shopping.bean.Logistic">
        <id column="id" property="id" />
    </resultMap>

    <resultMap id="sa" type="com.lut.shopping.bean.Address">
        <id column="id" property="id" />
    </resultMap>

    <resultMap id="show" type="com.lut.shopping.bean.Ex.Comone">
       <result column="coname" property="name"></result>

    </resultMap>

    <resultMap id="ssc" type="com.lut.shopping.bean.Cs">
        <id column="id" property="id" />

    </resultMap>

    <resultMap id="sshop" type="com.lut.shopping.bean.Shop">
        <id column="id" property="id" />
    </resultMap>

    <resultMap id="sre" type="com.lut.shopping.bean.Repertory">
        <id column="id" property="id" />
        <result column="price" property="price" />
        <result column="number" property="number" />
        <result column="type" property="type" />
    </resultMap>
    
    <resultMap id="scar" type="com.lut.shopping.bean.Ex.ShoppingcarEx">
        <collection property="commodityExList"
                    column="commodity_id"
                    ofType="com.lut.shopping.bean.Ex.CommodityshowEx"
                    select="sscar" />
    </resultMap>

    <resultMap id="sleaguer" type="com.lut.shopping.bean.Ex.LeaguerEx">
        <result column="coname" property="name" />
        <result column="cotype" property="type" />
        <result column="codiscount" property="discount" />
        <result column="shname" property="shname"></result>
    </resultMap>

    <resultMap id="allcom" type="com.lut.shopping.bean.Ex.CommodityAll">
        <id column="coid"  property="id" />
        <result column="coname"  property="name" />
        <result column="cotype"  property="type" />
        <result column="coprice"  property="price" />
        <result column="conumber" property="number" />
        <result column="codiscount" property="discount" />
        <result column="shname" property="shname"></result>
    </resultMap>

<select id="selectshow" resultMap="selectco">
    select co.id coid,co.name coname,co.type cotype,co.price coprice,sh.name shname
    from shop_commodity co,shop_shop sh,shop_cs cs
    where cs.shop_id=sh.id and cs.commodity_id=co.id
</select>
    <insert id="insertshopcar">
        insert into shop_shoppingcar (user_id,commodity_id) values (#{user_id},#{commodity_id})
    </insert>
<select id="selectName" resultMap="selectnam">
    select * from shop_commodity where name=#{name}
</select>
    <select id="selectcom" resultMap="sl">
        select id from shop_logistic where company=#{company}
    </select>

    <select id="selectadd" resultMap="sa">
        select id from shop_address where getaddress=#{getaddress} and receivename=#{receivename} and receivephone=#{receivephone}
    </select>

    <insert id="insertaddress">
        insert into shop_address (getaddress,receivename,receivephone) values (#{getaddress},#{receivename},#{receivephone})
    </insert>

    <select id="selectcommodity" resultMap="coshow">
        select co.id coid,co.name coname,co.type cotype,co.price coprice,co.number conumber,sh.name shname
        from shop_commodity co,shop_shop sh,shop_cs cs
        where cs.shop_id=sh.id and cs.commodity_id=co.id
    </select>

    <select id="sscar" resultMap="coshow">
        select co.id coid,co.name coname,co.type cotype,co.price coprice,co.number conumber,sh.name shname
        from shop_commodity co,shop_shop sh,shop_cs cs
        where cs.shop_id=sh.id and cs.commodity_id=co.id
        and co.id=#{commodity_id}
    </select>
    <insert id="insertcs">
        insert into shop_cs (shop_id,commodity_id) values (#{shop_id},#{commodity_id})
    </insert>

    <select id="selectshop" resultMap="sshop">
        select id from shop_shop where name=#{shopname}
    </select>
   <select id="selectcs" resultMap="ssc">
       select id from shop_cs where shop_id=#{shop_id} and commodity_id=#{commodity_id}
   </select>
    <select id="selectrepertory" resultMap="sre">
        select id,number,price,type from shop_repertory where commodityname=#{name}
    </select>
    <select id="selectmax" resultType="com.lut.shopping.bean.Order">
       select * from shop_order order by id desc limit 1
    </select>
    <select id="findmax" resultType="com.lut.shopping.bean.Logistic">
        select * from shop_logistic order by id desc limit 1
    </select>
    <delete id="deleteBy">
        delete from shop_cs where shop_id=#{shop_id} and commodity_id=#{commodity_id}
    </delete>
    <select id="showone" resultMap="show">
        select co.name coname
        from shop_commodity co,shop_shop sh,shop_cs cs
        where cs.shop_id=sh.id and cs.commodity_id=co.id
        and sh.name=#{name}
    </select>

    <select id="showshopcar" resultMap="scar">
        select commodity_id from shop_shoppingcar where user_id=#{user_id}
    </select>

    <select id="selectById" resultType="com.lut.shopping.bean.User">
        select * from shop_user where id=#{id}
    </select>
    <select id="selectleaguer" resultMap="sleaguer">
        select co.name coname,co.type cotype,co.discount codiscount,sh.name shname
        from shop_commodity co,shop_shop sh,shop_cs cs
        where cs.shop_id=sh.id and cs.commodity_id=co.id
    </select>

    <select id="selectallcom" resultMap="allcom">
        select co.id coid,co.name coname,co.type cotype,co.price coprice,co.number conumber,co.discount codiscount,sh.name shname
        from shop_commodity co,shop_shop sh,shop_cs cs
        where cs.shop_id=sh.id and cs.commodity_id=co.id
    </select>

</mapper>