<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.shopping.mapper.Ex.ShopEXMapper">
    <resultMap id="abn" type="com.lut.shopping.bean.Ex.ShopResult">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="score" property="score" />
        <result column="uname" property="uname" />
    </resultMap>

    <select id="findAll" resultMap="abn">
        select s.id id,s.name name,s.score score,u.name uname
        from shop_shop s,shop_user u
        where s.user_id=u.id
    </select>

    <update id="updateById" parameterType="com.lut.shopping.bean.Shop">
    update shop_shop
    set score = #{score}
    where id = #{id}
  </update>


</mapper>