<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.shopping.mapper.Ex.UserEXMapper">
    <resultMap id="abn" type="com.lut.shopping.bean.Ex.UserEX">
        <id column="id" property="id"></id>
        <result column="unum" property="unum" />
        <result column="code"  property="code" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="question" property="question" />
        <result column="answer" property="answer" />

        <collection property="shops"
                    column="id"
                    ofType="com.lut.shopping.bean.Shop"
                    select="showShop"></collection>
    </resultMap>

    <!--<select id="selectByUserName" resultType="com.lut.shopping.bean.User">
        select *
        from shop_user
        where unum = #{unum} and password = #{password} and code=#{code}
    </select>


    <insert id="addUser" parameterType="com.lut.shopping.bean.User" keyProperty="id" useGeneratedKeys="true">
        insert into shop_user
        values (#{id},#{unum},#{code},#{name},#{password},#{question},#{answer})
    </insert>-->

    <select id="showById" resultMap="abn">
        select * from shop_user where id=#{id}
    </select>
    <select id="showShop" resultType="com.lut.shopping.bean.Shop">
        select * from shop_shop where user_id=#{id}
    </select>

    <select id="findByUnum" resultType="com.lut.shopping.bean.Ex.UserEX">
        select * from shop_user where unum=#{unum}
    </select>

    <update id="updateById" parameterType="com.lut.shopping.bean.Ex.UserEX">
    update shop_user
    set unum = #{unum},
      code = #{code},
      name = #{name},
      password = #{password},
      question = #{question},
      answer = #{answer}
    where id = #{id}
  </update>

    <select id="findByUsername" resultType="com.lut.shopping.bean.Ex.UserE">
      SELECT * FROM shop_user
      where
      unum=#{username}
    </select>
    <select id="findUserById" resultType="com.lut.shopping.bean.Ex.UserE">
        SELECT * FROM shop_user
      where
      id=#{Id}
    </select>

    <select id="goPass" resultType="com.lut.shopping.bean.User">
        select *
        from shop_user
        where unum = #{unum} and question = #{question} and answer = #{answer}
    </select>
</mapper>